.App {
  text-align: center;
}

.App-header {
  background-color: purple;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.0em;
  font-family: cursive;
}

.App-intro {
  font-size: large;
  font-family: cursive;
}
.App{
  background-color: lavender;
}
